{erl_opts, [debug_info]}.
{deps, [
  gleam_experimental_stdlib
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [hello_gleam]}
]}.

{src_dirs, ["src", "gen/src"]}.

{profiles, [
    {test, [{src_dirs, ["src", "gen/src", "test", "gen/test"]}]}
]}.

{pre_hooks, [{compile, "gleam build ."}]}.
